/*
 * Device tree overlay for STEVAL-PROTEUS1 sensor board.
 *
 * Pin mapping from official STM32CubeMX IOC (STM32_open_pin_data):
 *
 * ISM330DHCX on SPI1: SCK=PA5, MISO=PA6, MOSI=PB5, CS=PA4
 * IIS3DWB on SPI1: CS=PA15 (not used Phase 1)
 * IIS2DLPC on I2C1: SCL=PB8, SDA=PB7
 * STTS22H on I2C1
 * STSAFE on I2C1
 *
 * Power: STBC02_CEN=PD12 (OD, HIGH), ST1PS02 D0=PC9,D1=PC10,D2=PC11
 *        ST1PS02_AUX=PD13 (HIGH), STBC02_WAKE-UP=PH0
 *
 * Using nucleo_wb55rg as base board (same STM32WB55 SoC).
 */

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	ism330dhcx@0 {
		compatible = "st,ism330dhcx";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

/* Console on lpuart1 */
/ {
	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &lpuart1;
	};
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_rx_pc0 &lpuart1_tx_pc1>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
